<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <gcServer enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Binder" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.2.0" newVersion="1.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr4.Runtime.Standard" publicKeyToken="e78b2c5abd1fcb3f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.7.1.0" newVersion="4.7.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection.TypeExtensions" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.Documents.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.21.0.0" newVersion="1.21.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="SrcDocDBEndPoint" value="https://localhost:8081/" />
    <add key="SrcDocDBKey" value="C2y6yDjf5/R+ob0N8A7Cgv30VRDJIWEHLM+4QDU5DE2nQ9nDuVTqobD4b8mGGyPMbIZnqyMsEcaGQy67XIw/Jw==" />
    <add key="SrcDocDBDatabase" value="db1" />
    <add key="SrcDocDBCollection" value="coll1" />
    <add key="DestDocDBEndPoint" value="https://localhost:8081/" />
    <add key="DestDocDBKey" value="C2y6yDjf5/R+ob0N8A7Cgv30VRDJIWEHLM+4QDU5DE2nQ9nDuVTqobD4b8mGGyPMbIZnqyMsEcaGQy67XIw/Jw==" />
    <add key="DestDocDBDatabase" value="db1" />
    <add key="DestDocDBCollection" value="coll2" />
    <add key="DestPartitionKey" value="pk" />  <!--This property needs to be presenet in the vertices in the  source collection-->
  </appSettings>
  <!--<appSettings>
    <add key="SrcDocDBEndPoint" value="https://test-gremlin.documents.azure.com:443//" />
    <add key="SrcDocDBKey" value="kDiiXKK0kIQCHiy6NkXQWpwx68bCvKUpImuZD46TI4eEgTl7lJX9ueJnY0zrngsnJjSCUHuv13aBuBU1ChS2mg==" />
    <add key="SrcDocDBDatabase" value="db1" />
    <add key="SrcDocDBCollection" value="src" />
    <add key="DestDocDBEndPoint" value="https://test-gremlin.documents.azure.com:443/" />
    <add key="DestDocDBKey" value="kDiiXKK0kIQCHiy6NkXQWpwx68bCvKUpImuZD46TI4eEgTl7lJX9ueJnY0zrngsnJjSCUHuv13aBuBU1ChS2mg==" />
    <add key="DestDocDBDatabase" value="db1" />
    <add key="DestDocDBCollection" value="dest" />
    <add key="DestPartitionKey" value="name" /> --><!-- This property needs to be presenet in the vertices in the  source collection--><!--
  </appSettings>-->
</configuration>
