<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="DocDBEndPoint" value="your_endpoint_here" />
    <add key="DocDBKey" value="your_primary_key_here" />
    <add key="DocDBDatabase" value="your_database_name_here" />
    <add key="DocDBCollection" value="your_collection_name_here" />
    <add key="PartitionKeyName" value="your_partition_key_name_here" />
    <add key="OfferThroughput" value="400" />
  </appSettings>
</configuration>
