<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <gcServer enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Binder" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.2.0" newVersion="1.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr4.Runtime.Standard" publicKeyToken="e78b2c5abd1fcb3f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.7.1.0" newVersion="4.7.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection.TypeExtensions" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="DocumentServerEndPoint" value="Fill_Me" />
    <add key="GremlinServerEndPoint" value="Fill_Me" />
    <add key="GremlinServerPort" value="Fill_Me" />
    <add key="PrimaryKey" value="Fill_Me" />
    <add key="Database" value="Fill_Me" />
    <add key="Collection" value="Fill_Me" />
    <add key="PartitionKeyName" value="Fill_Me" />
    <add key="Throughput" value="Fill_Me" />
    <add key="IsPartitionedGraph" value="Fill_Me" />
    <add key="NumVertices" value="Fill_Me" />
    <add key="BatchSize" value="Fill_Me" />
  </appSettings>
  <!--<appSettings>
    <add key="DocumentServerEndPoint" value="https://bulkimport.documents.azure.com:443/" />
    <add key="GremlinServerEndPoint" value="bulkimport.gremlin.cosmosdb.azure.com" />
    <add key="GremlinServerPort" value="443" />
    <add key="PrimaryKey" value="prRQ7PIxOnNZ85cQaA8ztC2I3IHO3zIcnryJUQy8o9ygfhAgOPpsnDyiBcz7zFWefweqmnSXXMZGf5S1X866g==" />
    <add key="Database" value="db1" />
    <add key="Collection" value="graph" />
    <add key="PartitionKeyName" value="partitionKey" />
    <add key="Throughput" value="10000" />
    <add key="IsPartitionedGraph" value="true" />
    <add key="NumVertices" value="10000" />
  </appSettings>-->
</configuration>
